.gradient-text {
  background: linear-gradient(90deg, #6946df 20%, #f6c8e7);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.circle-grad{
    background: radial-gradient(circle at top, #a793ec, #634db5, #20145a, #050519, #010313);
}